!!! Strict
%html
	%head
		%title Sinatra Meetup RSVP
	%body
		%h1 Look for Yes RSVP
		%form{ :method => 'post', :action => '/' }
			Meetup URL:
			%input{ :type => 'text', :name => 'meetup_url', :value => '' }
			%input{ :type => 'submit', :value => 'Submit' }
